body {
  background-attachment: fixed;
  background-image: url(images/background/background-image.webp);
  background-repeat: no-repeat;
  background-size: auto 100%; /* 画面に合わせて拡大表示 */
  background-color: #fff;
  position: relative;
  background-size: auto 100%; /* 画面に合わせて拡大表示 */
  background-position: center;
}
button {
  cursor: pointer; /* カーソルをポインターに変更 */
  border: none;
  background-color: transparent;
}
button {
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}

a {
  transition: transform 0.2s;
  text-decoration: none; /* 下線を消す */
}

a:hover {
  transform: scale(1.1);
}
a:hover img {
  transform: scale(1.1); /* 画像も拡大 */
  transition: transform 0.2s; /* 画像の変化にもアニメーションを適用 */
}
select {
  background-color: aliceblue;
  border: none;
  border-radius: 2px;
}
select:focus {
  outline: medium solid #037dff92;
}
input {
  border-radius: 2px;
  border: none;
  background-color: aliceblue;
}
input:focus {
  outline: medium solid #037dff92;
}

.pop-upbtn {
  display: inline-block;
  width: 10vw;
  height: auto;
  background: none;
  border: none;
}
.line {
  width: 100%; /* ボタン全体の幅に揃える */
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  margin: 5px 0;
}

#myBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 10vw; /* ボタン全体を10vwの正方形に */
  height: 10vw; /* ボタン全体を10vwの正方形に */
  background: none;
  border: none;
  cursor: pointer;
  margin: 1vw;
  padding: 0; /* 余白をなくす */
}

.mein-menu-img {
  height: 10vw;
}
.search {
  width: 10vw;
  
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  display: none;
  background-color: #fefefe;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: none;
  padding: 5%;
  border-radius: 5vh;
  width: auto; /* Could be more or less, depending on screen size */

}
.menu {
  display: flex;
}
.menu > * {
  margin: 1vw; /* フレックスコンテナ内のすべての子要素にマージンを追加 */
}
.pop-upa {
  width: 7vw;
  margin: 1vw;
}
.setting-iteam {
  display: flex;
  justify-content: center;
  flex-direction: column; /* 要素を縦に並べる */
  align-items: center;

}
.setting-iteam > * {
  display: block;
  margin-top: 2vh;
}
.container {
  display: flex;
  align-items: center;
  height: 60vh;
  justify-content: center;
}
.biginput {
  display: flex;
  position: relative;
 }
.modified-biginput{
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%,-50%);
}
 
.modified-input {
  animation: zoom 0.5s forwards;
  position: fixed;
  top: 50%;
  z-index: 4;
  transform: translate(-50%,-50%);
  width: 60vw;
  height: 50vh;
  font-size: 20px;
  font-family: sans-serif;
  resize: none;
  overflow: auto;
  border-radius: 2.5vw;
  padding: 2.5vw;
  background-color: rgb(255, 255, 255,);
  caret-color: rgb(114, 115, 115);
}
.modified-input:focus {
  outline: medium solid #037dff92;
}
.input-box {
  width: 40vw;
  height: 6.25vw;
  font-size: 20px;
  resize: none;
  overflow: auto;
  border-radius: 2.5vw;
  padding: 2.5vw;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.4);
  caret-color: rgb(114, 115, 115);
}
.input-box:focus {
  outline: medium solid #037dff92;
}
#input::-webkit-scrollbar {
  display: none; /* スクロールバーを隠す */
}
.clear {
  width: 8vw;
  height: 8vw;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1vw; /* 右端からの余白 */
  margin-bottom: 1vw; /* 下端からの余白 */
  cursor: pointer; 
  border: none;
  outline: none;
  text-decoration: none;
  background-color: transparent;
}
.clear::before,
.clear::after {
  content: '';
  position: absolute;
  height: 3px; /* 棒の太さ */
  width: 50%; /* 棒の長さ */
  background-color: red; /* ばつ印の色を設定 */
  top: 24px; /* 棒の位置を中央に調整 */
  left: 0;
  border-radius: 2px;
}
.clear::before {
  transform: rotate(45deg);
}
.clear::after {
  transform: rotate(-45deg);
}
#history_place {
  width: 100%;
}
#history_box_2 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.history {
  font-size: 40px;
  line-height: 130%;
  color: white;
  padding: 0;
  margin: 30px;
}
#history_box {
  align-items: center;
  margin: 5px 10vw;
  border-bottom: solid;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%; 
  background-color: rgba(128,128,128,0.3);
  padding: 0;
}
#history_btn {
  height: 40px;
  width: auto; 
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  margin: 30px;
}
#history_btn_img {
  height: 40px;
  width: auto;
}
.fixed-link {
  position: fixed;
  bottom: 20px; /* 下から20px */
  left: 20px; /* 左から20px */
  background-color: transparent;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
}
.icon-menu {
  height: 8vh;
  width: 8vh;
}
#prv-div {
  position: fixed;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  border-radius: 20px 20px 0 0;
  border: rgb(184, 183, 183);
  background-color: #dedede;
  height: 5vh;
  width: 60vw;
  z-index: 4;
}
#prv-div >* {
  display: none;
}

#prvPage{
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 90%;
  bottom: 0;
}
@media screen and (orientation: landscape) {
  /* 画面が横長の場合のスタイル */
  body {
    background-size: 100% auto; /* 例: 背景色を変更 */
  }

}
@media (prefers-color-scheme: dark) {
  /* ダークモード用のスタイル */
  body {
    background-image: url(background-image_dark.webp);
    background-color: black;
  }
  .input-box {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border-color: white;
  }
  .modified-input {
    background-color: black;
    color: white;
  }
  #result {
    background-color: black;
  }
}
/* PCやタブレットの横長画面に特化したスタイル */

/* タブレット以上、かつ画面が横長の場合 */
@media screen and (min-width: 768px) and (orientation: landscape) { 
  /* ここにタブレット以上の横長画面に適用するスタイルを記述 */
  #myBtn {
    width: 4vw; /* ボタン全体を10vwの正方形に */
    height: 4vw; /* ボタン全体を10vwの正方形に */
    margin: 0.5vw;
  }
  .pop-upa {
    width: 4vw;
    margin: 1vw;
  }
  .pop-upbtn {
    display: inline-block;
    width: 5vw;
    height: auto;
    background: none;
    border: none;
  }
  
  .mein-menu-img {
    height: 5vw;
  }
  .search {
    width: 7vw;
    
  }
  #history_btn {
    height: 4vw;
    width: auto; 
    margin: 0.15vw;
  }

  .history {
    font-size: 2vw;
    line-height: 130%;
    color: white;
    padding: 0;
    margin: 10px;
  }

  #history_btn_img {
    height: 4vw;
    width: auto;
  }
  .clear {
    width: 5vw;
    height: 5vw;
    margin-right: 0.3vw; /* 右端からの余白 */
    margin-bottom: 0.3vw; /* 下端からの余白 */
  }
  
}


@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes poyopoyo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomin {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeout {
    from {
        opacity: 1; /* 開始時の透明度 */
    }
    to {
        opacity: 0; /* 終了時の透明度 */
    }
}
@keyframes fadein {
    from {
        opacity: 0; /* 開始時の透明度 */
    }
    to {
        opacity: 1; /* 終了時の透明度 */
    }
}
@keyframes swing {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(200px); /* スイングの最大幅 */
  }
  40% {
    transform: translateX(-200px); /* スイングの最小幅 */
  }
  60% {
    transform: translateX(400px); /* スイングの最大幅 */
  }
  80% {
    transform: translateX(-400px); /* スイングの最小幅 */
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes up {
  from {
      height: 5vh;
      width: 60vw;
  }
  to {
      height: 90vh; 
      width: 80vw;
  }
}
@keyframes down {
  from {
      height: 90vh; 
      width: 80vw;
  }
  to {
      height: 5vh; 
      width: 60vw;
  }
}
@keyframes zoom {
  from {
    width: 40vw;
    height: 6.25vw;
  }
  to {
    width: 60vw;
    height: 50vh;
  }
}
@keyframes reduction {
  from {
    width: 60vw;
    height: 50vh;
  }
  to {
    width: 40vw;
    height: 6.25vw;
  }
}
