.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 1;
}
.button-container * {
    flex: 1;
}
.hidden {
    display: none;
}
.input-field {
    min-width: 450px;
    max-width: 600px;
    width: auto; /* 必要な幅を指定 */
    visibility: visible;
    display: block;
    opacity: 1;  /*要素の可視化*/
    transform: scaleX(1); /* 横幅が自然に広がる */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    outline: none;
    background-color: var(--light-item-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: auto;
    padding: 11px;
    border-radius: 3px;
    height: auto;
    border: none;
    color: var(--light-color);
    
}


.buttons {
    padding: 11px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    width: 10vh;
    height: 10vh;
}
.buttons:hover {
    border: none;
    outline: none;
}
.buttons * {
    width: 80%;
      
}
@media (prefers-color-scheme: dark) {
    .input-field {
        background-color: var(--dark-item-color);
        color: var(--dark-color);

    }

}

@media (max-width: 700px) {
    /* ここに600px以下の画面サイズで適用するスタイルを記述 */
    .input-field {
        min-width: 70vw;
        max-width: 80vw;
    }
    #translate-button {
        display: none;
    }
    #video-button {
        display: none;
    }
}
  